/*  RESET  */
* {
    margin: 0;
    padding: 0;
  }

/*  BODY  */
body {
    font-family: arial, sans-serif;
}

/*  LEFT/RIGHT POSITIONING  */
.left { 
    float: left;
}

.right { 
    float: right; 
}

/*  NAV  */
nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    min-width: 1024px;
}

nav a, i {
    padding: 22px 10px;
    text-decoration: none;
    color: #222;
}

nav a:link { 
    color: #222; 
}

nav a:visited { 
    color: #222; 
}

nav a:hover { 
    text-decoration: underline; 
}

nav button { 
    margin-top: 15px; 
}

nav #sign-in {
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: linear-gradient(top,#4387fd,#4683ea);
    padding: 6px 12.5px;
    margin-right: 10px;
    font-size: 13px;
}

nav #sign-in a {
    color: white;
    padding: 0;
}

nav #sign-in a:link { 
    color: white;
}

nav #sign-in a:visited { 
    color: white;
}

nav #sign-in a:hover { 
    text-decoration: none;
}

nav #sign-in:hover { 
    box-shadow: 0px 1px 2px grey;
}

i {
    opacity: .55;
    padding-top: 17.5px;
    padding-right: 17px;
}

i:hover {
    opacity: 1;
    cursor: pointer;
}

/*  MAIN  */
main {
    margin-top: 60px;
    display: block;
    margin: 22.5vh auto;
    text-align: center;
}

/*  SEARCH  */
#search {
    border-radius: 50px;
    height: 45px;
    width: 480px;
    border: 1px solid #dfe1e5;
    padding: 10px 30px;
    font-size: 13px;
    outline: none;
    margin-top: 25px;
    margin-bottom: 20px;
}

#search:hover {
    box-shadow: 0.5px 0.5px 2px 2.5px rgba(223, 228, 232, 0.5);
}

/*  BUTTONS  */
.search-buttons {
    background-color: rgb(242,242,242);
    padding: 8px 15px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    margin: 11px 4px;
}

.search-buttons:hover {
    color: #222;
    border-color: lightgrey;
    box-shadow: 0px 1px 3px lightgrey;
}

.search-buttons:active {
    border-color: #3498DB;
}

/*  FOOTER  */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    min-width: 800px;
    letter-spacing: 0px;

    /*  MAIN BORDERS  */
    border-top: 1px solid #e4e4e4;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f2f2f2;
}

footer a, p {
    text-decoration: none;
    padding: 11px 13.5px;
    color:#5f6368;
}

footer a:link { 
    color:#5f6368;
}

footer a:visited { 
    color:#5f6368; 
}

footer a:hover { 
    text-decoration: underline;
}

footer a:active { 
    color: #E74C3C; 
}